<div class="home py-5">
    <div class="container text-center">
        <img src="./assets/images/avataaars.svg" alt="avataaars">
        <h2 class="text-white text-uppercase mb-4 fs-1 fw-bolder">
            start Framework
        </h2>
        <div class="lines d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3">
            </div>
            <i class="fa-solid fa-star me-3 text-white"></i>
            <div class="line me-3">
            </div>
        </div>
        <p class="text-white">Graphic Artist - Web Designer - Illustrator
        </p>
    </div>
</div>